body {
	background-color: #fff;
	padding: 0;
	margin: 0;
	border: 0;
	color: #333;
}

.edit-badge {
	content: '';
	width: 60px;
	height: 60px;
	background: url(../images/corner.png) center center no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	text-decoration: none;
}

#PageDiv {
	position: relative;
	width: 750px;
	margin: 0 auto;
	padding: 0;
	font: 13px/1.4 'Lucida Grande', sans-serif;
}

header {
	overflow: hidden;
}

footer {
	font-size: smaller;
	border-top: 1px solid #ccc;
	margin-top: 2em;
	text-align: center;
	color: #888;
}

.editable {
	border: 2px dashed #c8ddfe;
	position: relative;
}

.title-eyebrow {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	border: none;
	padding: 8px 16px;
	background-color: #eee;
	box-sizing: border-box;
	box-shadow: 0 2px 2px #ccc;
}

#page-title:before {
	content: 'Page title: ';
}

.editor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font: inherit;
	border: none;
}