Options -Indexes
Options -MultiViews
RewriteEngine  on
RewriteCond %{REQUEST_FILENAME}   !-f
RewriteCond %{REQUEST_FILENAME}   !-d
RewriteRule    ^(.*)     routing.php?virtual=true&path=$1 [NS,QSA,L]
RewriteCond %{REQUEST_FILENAME}   \.html$
RewriteRule    ^(.*)     routing.php?path=$1 [NS,QSA,L]