#back-to-show {
	padding: 12px 16px 8px;
	cursor: pointer;
	text-decoration: none;
	float: left;
	font-size: 36px;
	line-height: 1px;
	color: #3a3a3a;
}

.editable {
	border: 2px dashed #c8ddfe !important;
	position: relative;
	cursor: pointer;
	min-height: 16px;
}

.editable input, .editable textarea {
	cursor: text;
	min-height: 16px;
}

.title-edit-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	border: none;
	padding: 8px 16px;
	background-color: #eee;
	box-sizing: border-box;
	box-shadow: 0 2px 2px #ccc;
}

#page-title:before {
	content: 'Page title: ';
}

.editor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font: inherit;
	border: none;
}

.markdown {
	min-height: 300px;
}