div.flash {
	padding: .25em 1em;
	background-color: #c2fea6;
	border: 1px solid #9aca83;
	margin: 1em;
}

div.flash.error {
	background-color: #fab5aa;
	border-color: #d1968e;
}

fieldset, fieldset * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

fieldset {
	border: 1px solid #b6b6b6;
	padding: 1em;
}

fieldset p {
	overflow: hidden;
}

fieldset label {
	float: left;
	width: 90px;
	text-align: right;
	margin-right: 10px;
	font-size: smaller;
}

fieldset input {
	width: 220px;
}

fieldset input[type=submit] {
	margin-left: 100px;
	width: auto;
}